{% extends 'base.html' %}

{% block head %}
<title>Inventaris</title>
{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{{ url_for('static', filename="js/basepdf.js") }}""></script>
    <script src="{{ url_for('static', filename="js/pdf.js") }}""></script>
</head>

<div class="content" id="printini">
    <h1 style="text-align: center">Inventaris</h1>
    <h1 style="text-align: center">Detail Ruang {{ruangnya.namaRuang}} </h1>
    <table>
        <tr>
            <th>
                Detail
            </th>
            <th>
                Detail
            </th>
        </tr>
        <tr>
            <td>
                ID Ruang
            </td>
            <td>
                {{ruangnya.id}}
            </td>
        </tr>
        <tr>  
            <td>
                Nama Ruang
            </td>
            <td>
                {{ruangnya.namaRuang}}
            </td>
        </tr>
        <tr>
            <td>
                PJ Ruang
            </td>
            <td>
                {{ruangnya.namaRuang}}
            </td>
        </tr>
        <tr>
            <td>
                ID Gedung Ruang
            </td>
            <td>
                <a href="">{{ruangnya.beradaPadaGedung.id}}</a>
            </td>
        </tr>
        <tr>
            <td>
                Nama Gedung
            </td>
            <td>
                {{ruangnya.beradaPadaGedung.namaGedung}}
            </td>
        </tr>
        <tr>
            <td>
                Banyak Barang
            </td>
            <td>
                {{banyakBarang}}
            </td>
        </tr>
        {% if banyakBarang > 0 %}
        <tr>
            <td>
                Daftar Barang
            </td>
            <td>
            {% for i in range(0, dafPinjam | length)%}
                {{dafPinjam[i].barangDipinjam.namaBarang}}
                <br>
            {% endfor %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                Banyak Peminjaman
            </td>
            <td>
                {{banyakPinjam}}
            </td>
        </tr>
        {% if banyakPinjam > 0 %}
        <tr>
            <td>
                Daftar Peminjaman
            </td>
            <td>
            {% for i in range(0, listPinjam | length)%}
                {{listPinjam[i].kodePeminjaman}}
                <br>    
            {% endfor %}
            </td>
        </tr>
        {% endif %}
    </table>
    <a href="/lihatRuang">balik</a>
</div>
<div class="donlot" style="text-align: center">
    <button class="btn btn-primary" id="download"> download pdf</button>
</div>
{% endblock %}