{% extends 'base.html' %}

{% block head %}
<title>Inventaris</title>
<script src="{{ url_for('static', filename="js/basee.js") }}""></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu2.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/inputPinjam.css')}}">

<!-- Boxicons CDN Link -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<body>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class='bx bx-meteor' ></i>
          <div class="logo_name">INVNT</div>
        </div>
        <i class='bx bx-menu' id="btn" ></i>
      </div>
      <ul class="nav_list">
        <li>
          <a href="/menu">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/lihatBarang">
                <i class='bx bxs-shopping-bags'></i>
                <span class="links_name">Daftar Barang</span>
              </a>
              <span class="tooltip">Daftar Barang</span>
        </li>
        <li>
          <a href="/lihatRuang">
            <i class='bx bx-home-smile'></i>
            <span class="links_name">Data Ruang</span>
          </a>
          <span class="tooltip">Data Ruang</span>
        </li>
        <li>
          <a href="/lihatGedung">
            <i class='bx bx-buildings'></i>
            <span class="links_name">Data Gedung</span>
          </a>
          <span class="tooltip">Data Gedung</span>
        </li>
        <li>
          <a href="/lihatPegawai">
            <i class='bx bx-group'></i>
            <span class="links_name">Data Pegawai</span>
          </a>
          <span class="tooltip">Data Pegawai</span>
        </li>
        <li>
          <a href="/lihatPeminjaman">
            <i class='bx bxs-folder-open'></i>
            <span class="links_name">Data Peminjaman</span>
          </a>
          <span class="tooltip">Data Peminjaman</span>
        </li>
        <li>
          <a href="/inputPinjam">
            <i class='bx bxs-cart-add'></i>
            <span class="links_name">Input Peminjaman</span>
          </a>
          <span class="tooltip">Input Peminjaman</span>
        </li>
        <li>
          <a href="/inputMenu">
            <i class='bx bx-wrench'></i>
            <span class="links_name">Input Admin</span>
          </a>
          <span class="tooltip">Input Admin</span>
        </li>
      </ul>
      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <!--<img src="profile.jpg" alt="">-->
            <div class="name_job">
              <div class="name">{{ halo }}</div>
              <div class="job">Web Designer</div>
            </div>
          </div>
          <a href="/logoutbye">
          <i class='bx bx-log-out' id="log_out" ></i>
          </a>
      </div>
      </div>
    </div>
    <!-- End sidebar-->

<div class="home_content"> 
    <div class="wrapper">
        <form action="/inputPinjam" method="POST" enctype="multipart/form-data">
            <h1>INPUT Peminjaman Barang</h1>
            <br>
            <input type="text" name="nama" placeholder="Perihal Peminjaman" required/>
            <br> <br>
          <label for="barangnya">Barang : </label>
            <select class="opt" name="barangnya" id="barangnya" required>
                {% for t in dafBarang %}
                <option value={{t.id}}>{{t.namaBarang}}</option>
                {% endfor %}
            </select>
            <br> <br>
            <label for="gedungnya">Gedung : </label>
            <select class="opt" name="gedungnya" id="gedungnya" required>
                {% for t in dafGedung %}
                <option value={{t.id}}>{{t.namaGedung}}</option>
                {% endfor %}
            </select>
            <br> <br> 
            <label for="ruangnya">Ruang : </label>
            <select class="opt" name="ruangnya" id="ruangnya" required>
                {% for t in dafKelas %}
                <option value={{t.id}}>{{t.namaRuang}}</option>
                {% endfor %}
            </select>
            <br> <br> 
            <label for="inputFile">BAST Disposisi</label>
                <input type="file" name="inputFile" accept="application/pdf, image/jpeg" required>   
            <br> <br>
            <input type="text" name="kondisi" placeholder="Kondisi Barang" required/>
            <br> <br>
            <label for="tgl">Tanggal Peminjaman</label>
            <input type="date" name="tgl" required>
            <br> <br> <br>
            <button type="submit" class="login-btn">Submit</button>
        </form>
    </div>
    </div>

    <script>
         //SideBar Menu//
         let btn = document.querySelector("#btn");
                let sidebar = document.querySelector(".sidebar");
                let searchBtn = document.querySelector(".bx-search");
            
                btn.onclick = function() {  
                sidebar.classList.toggle("active");
                if(btn.classList.contains("bx-menu")){
                btn.classList.replace("bx-menu" , "bx-menu-alt-right");
              }else{
                btn.classList.replace("bx-menu-alt-right", "bx-menu");
              }
            }

        country_select = document.getElementById('gedungnya');
        state_select = document.getElementById('ruangnya');
         
        country_select.onchange = function(){
         country = country_select.value;
         fetch('/ruang/' + country).then(function(response){
          response.json().then(function(data) {
           optionHTML = '';
           for (state of data.ruangarray) {
            optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
           }
           state_select.innerHTML = optionHTML;
          });
         });
        }
    </script>
</body>
</html>




<!-- 
<div class="content">
</div>
<div class="form">
    <form action="/inputPinjam" method="POST" enctype="multipart/form-data">
        <a>Perihal Pinjam bang :</a>
        <br>
        <input type="text" name="nama" required>
        <br>
        <a>Barang bang :</a>
        <br>
        <select name="barangnya" id="barangnya" required>
            {% for t in dafBarang %}
            <option value={{t.id}}>{{t.namaBarang}}</option>
            {% endfor %}
        </select>
        <br>
        <a>Gedung bang :</a>
        <br>
        <select name="gedungnya" id="gedungnya" required>
            {% for t in dafGedung %}
            <option value={{t.id}}>{{t.namaGedung}}</option>
            {% endfor %}
        </select>
        <br>
        <a>Ruang bang :</a>
        <br>
        <select name="ruangnya" id="ruangnya" required>
            {% for t in dafKelas %}
            <option value={{t.id}}>{{t.namaRuang}}</option>
            {% endfor %}
        </select>
        <br>
        <a>BAST Disposisi :</a>
        <br>
        <input type="file" name="inputFile" required>
        <br>
        <a>Status/Kondisi Barang bang :</a>
        <br>
        <input type="text" name="kondisi" required>
        <br>
        <a> Tanggal Peminjaman :</a>
        <br>
        <input type="date" name="tgl" required>
        <input type="submit" value="add peminjaman">
        <br>
    </form>
    <a href="/menu">balik</a>
</div>
<script>
    country_select = document.getElementById('gedungnya');
    state_select = document.getElementById('ruangnya');
     
    country_select.onchange = function(){
     country = country_select.value;
     fetch('/ruang/' + country).then(function(response){
      response.json().then(function(data) {
       optionHTML = '';
       for (state of data.ruangarray) {
        optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
       }
       state_select.innerHTML = optionHTML;
      });
     });
    }
</script>
-->
{% endblock %}