{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu2.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/menuadmin.css')}}">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin page</title>
{% endblock %}

{% block body %}
<!-- Side Bar-->

<body>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class='bx bx-meteor' ></i>
          <div class="logo_name">INVNT</div>
        </div>
        <i class='bx bx-menu' id="btn" ></i>
      </div>
      <ul class="nav_list">
        <li>
          <a href="/menu">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/lihatBarang">
                <i class='bx bxs-shopping-bags'></i>
                <span class="links_name">Daftar Barang</span>
              </a>
              <span class="tooltip">Daftar Barang</span>
        </li>
        <li>
          <a href="/lihatRuang">
            <i class='bx bx-home-smile'></i>
            <span class="links_name">Data Ruang</span>
          </a>
          <span class="tooltip">Data Ruang</span>
        </li>
        <li>
          <a href="/lihatGedung">
            <i class='bx bx-buildings'></i>
            <span class="links_name">Data Gedung</span>
          </a>
          <span class="tooltip">Data Gedung</span>
        </li>
        <li>
          <a href="/lihatPegawai">
            <i class='bx bx-group'></i>
            <span class="links_name">Data Pegawai</span>
          </a>
          <span class="tooltip">Data Pegawai</span>
        </li>
        <li>
          <a href="/lihatPeminjaman">
            <i class='bx bxs-folder-open'></i>
            <span class="links_name">Data Peminjaman</span>
          </a>
          <span class="tooltip">Data Peminjaman</span>
        </li>
        <li>
          <a href="/inputPinjam">
            <i class='bx bxs-cart-add'></i>
            <span class="links_name">Input Peminjaman</span>
          </a>
          <span class="tooltip">Input Peminjaman</span>
        </li>
        <li>
            <a class="dropdown" href="#">
            
              <i class='bx bx-wrench'></i>
              <span class="links_name">Input Admin
                <div class="dropdown-container">
                    <a class="links_name" href="/inputBarang">Input Barang</a>
                    <a class="links_name" href="/inputRuang">Input Ruang</a>
                    <a class="links_name" href="/inputGedung">Input Gedung</a>
                    <a class="links_name" href="/inputManusia">Input Pegawai</a>
                  </div>
              </span>
            </a>
            <span class="tooltip">Input Admin</span>
            
          </li>
          


      </ul>
      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <!--<img src="profile.jpg" alt="">-->
            <div class="name_job">
              <div class="name">{{ halo }}</div>
              <div class="job">Web Designer</div>
            </div>
          </div>
          <a href="/logoutbye">
          <i class='bx bx-log-out' id="log_out" ></i>
          </a>
      </div>
      </div>
    </div>
    <!-- End sidebar-->
    <div class="home_content"> 
    <div class="container" style="margin-top:180px">
      
        <div class="box" >
          <a href="/inputBarang" style="text-decoration:none"> 
          <img src="../static/img/box2.jpg" />
          <h3>Input Barang</h3>
          </a>
        </div>

        <div class="box">
          <a href="/inputRuang" style="text-decoration:none"> 
          <img src="../static/img/door.jpg" />
          <h3>Input Ruang </h3>
          <p>
            
          </p>
          </a>
        </div>

        <div class="box" >
          <a href="/inputGedung" style="text-decoration:none"> 
          <img src="../static/img/gedung.jpg" />
          <h3>Input Gedung</h3>
          <p>
        
          </p>
          </a>
        </div>

        <div class="box">
          <a href="/inputManusia" style="text-decoration:none"> 
            <img src="../static/img/Pegawai.jpg" />
            <h3>Input Pegawai</h3>
            <p>
              
            </p>
            </a>
          </div>
      </div>
      </div>
    </body>

    <script>
        //SideBar Menu//
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");
    
        btn.onclick = function() {  
        sidebar.classList.toggle("active");
        if(btn.classList.contains("bx-menu")){
        btn.classList.replace("bx-menu" , "bx-menu-alt-right");
      }else{
        btn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    }

        //Drop Down
        var dropdown = document.getElementsByClassName("dropdown");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
            } else {
            dropdownContent.style.display = "block";
            }
            });
}
    </script>


<!--
<div class="content">
    <h1 style="text-align: center">Inventaris Menu</h1>
    <a href="/inputBarang">INPUT BARANG</a>
    <br>
    <br>
    <a href="/inputRuang">INPUT RUANG</a>
    <br>
    <br>
    <a href="/inputGedung">INPUT GEDUNG</a>
    <br>
    <br>
    <a href="/inputManusia">INPUT PEGAWAI</a>
    <br>
    <br>
    <a href="/menu">back</a>
</div>
-->
{% endblock %}