{% extends 'base.html' %}

{% block head %}
<title>Inventaris</title>
<script src="{{ url_for('static', filename="js/basepdf.js") }}""></script>
<script src="{{ url_for('static', filename="js/pdf.js") }}""></script>
{% endblock %}

{% block body %}
<div class="content" id="printini">
    <h1 style="text-align: center">Inventaris</h1>
    {% if pegawainya |length < 1 %}
    <h4 style="text-align: center">gaada barang bang..</h4>
    {% else %}
    <table>
        <tr>
            <th>ID Pegawai</th>
            <th>Nama Pegawai</th>
            <th>Alamat Pegawai</th>
            <th>No. Telepon Pegawai </th>
            <th>Role </th>
        </tr>
        {% for i in range(0, pegawainya | length) %}
            <tr>
                <td>{{ pegawainya[i].id }}</td>
                <td>{{ pegawainya[i].nama }}</td>
                <td>{{ pegawainya[i].alamat }}</td>
                <td>{{ pegawainya[i].no_telp }}</td>
                {% if pegawainya[i].role == 1 %}
                    <td>Admin</td>
                {% else %}
                    <td>Pegawai</td>
                {% endif %}
                <td>
                    <a href="/detailPegawai/{{pegawainya[i].id}}">detail</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    {% endif %}
    <a href="/menu">balik</a>
</div>

<div class="donlot" style="text-align: center">
    <button class="btn btn-primary" id="download"> download pdf</button>
</div>
<script>
    country_select = document.getElementById('gedungnya');
    state_select = document.getElementById('ruangnya');
     
    country_select.onchange = function(){
     country = country_select.value;
     fetch('/ruang/' + country).then(function(response){
      response.json().then(function(data) {
       optionHTML = '';
       for (state of data.ruangarray) {
        optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
       }
       state_select.innerHTML = optionHTML;
      });
     });
    }
</script>
{% endblock %}