{% extends 'base.html' %}

{% block head %}
<title>Inventaris</title>
<script src="{{ url_for('static', filename="js/basepdf.js") }}""></script>
<script src="{{ url_for('static', filename="js/pdf.js") }}""></script>
{% endblock %}

{% block body %}
<div class="content" id="printini">
    <h1 style="text-align: center">Inventaris</h1>
    <h1 style="text-align: center"> {{judul}} </h1>
    {% if pinjam|length < 1 %}
    <h4 style="text-align: center">gaada barang bang..</h4>
    {% else %}
    <table>
        <tr>
            <th>ID Barang</th>
            <th>Nama Barang</th>
            <th>Gedung</th>
            <th>Ruang</th>      
            <th>Kondisi</th>      
        </tr>
        {% for i in range(0, pinjam | length) %}
            <tr>
                {% if stats[i] == 1 %}
                    <td>{{ pinjam[i].barangDipinjam.id }}</td>
                    <td>{{ pinjam[i].barangDipinjam.namaBarang }}</td>
                    <td>{{ pinjam[i].tempatGedung.namaGedung }}</td>
                    <td>{{ pinjam[i].tempatKelas.namaRuang }}</td>
                    <td>{{ pinjam[i].kondisi }}</td>
                    <td>
                        <a href="/detailBarang/{{pinjam[i].barangDipinjam.id}}">detail</a>
                    </td>
                {% else %}
                    <td> {{ brg[i].id }} </td>
                    <td> {{ brg[i].namaBarang }} </td>
                    <td> None </td> <td> None </td> <td> None </td>
                    <td>
                        <a href="/detailBarang/{{brg[i].id}}">detail</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    {% endif %}
    <a href="/menu">balik</a>
</div>

<div class="form">
    <form action="/lihatBarang" method="POST" enctype="multipart/form-data">
        <a>Gedung bang :</a>
        <br>
        <select name="gedungnya" id="gedungnya" required>
            {% for t in dafGedung %}
            <option value={{t.id}}>{{t.namaGedung}}</option>
            {% endfor %}
        </select>
        <br>
        <a>Ruang bang :</a>
        <br>
        <select name="ruangnya" id="ruangnya" required>
            {% for t in dafKelas %}
            <option value={{t.id}}>{{t.namaRuang}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="lihat barang">
    </form>
    <a href="/lihatBarang">reset</a>
</div>
<div class="donlot" style="text-align: center">
    <button class="btn btn-primary" id="download"> download pdf</button>
</div>

<script>
    country_select = document.getElementById('gedungnya');
    state_select = document.getElementById('ruangnya');
     
    country_select.onchange = function(){
     country = country_select.value;
     fetch('/ruang/' + country).then(function(response){
      response.json().then(function(data) {
       optionHTML = '';
       for (state of data.ruangarray) {
        optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
       }
       state_select.innerHTML = optionHTML;
      });
     });
    }
</script>
{% endblock %}